body {
  color: #222;
  line-height: 1.5;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header {
  margin-bottom: 3rem;
}

footer {
  margin-top: 3rem;
}

a {
  color: #00e;
  text-decoration: none;
}

h1,
h1 a,
h2,
h2 a,
h3,
h3 a,
h4,
h4 a,
h5,
h5 a,
h6,
h6 a {
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #3e3e3e;
}

pre {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}
